<div id="header" class="header-container">
    <div  class="header-content">
    <span>
     <img class="img-prop" src="../../assets/dp.jpg" alt="">
    </span>
    <div class="menu-item menu">
        <a [routerLink]="['/home']" > Home</a>
    </div>
    <div class="menu">
        <a href=""> PORTFOLIO</a>
    </div>
    <div class="menu">
        <a [routerLink]="['/experience']" > EXPERIENCE</a>
    </div>
    <div class="menu">
        <a href=""> SKILLS</a>
    </div>
    <div class="menu">
        <a href=""> EDUCATION</a>
    </div>
</div>
</div>
