<div class="home-container">
<div class="name">
<span class="fname">Soumyajit </span>
<span class="lname">Das</span>
</div >

<div class="address">
43a Ultadanga Road, Kolkata, West bengal, India  +91-8618246368
<div class="mail">✉ rupamandsoumya98@gmail.com</div>
</div>

<div class="bio"> 
Full Stack developer with 1.5 years+ experience working with Java, JavaScript, HTML/CSS, Angular, React.
To deliver exceptional customer experiences. Adept at contributing to a highly collaborative
work environment, finding solutions, and determining customer satisfaction.
</div>

<div class="all-icons">
    <mat-icon class="bi--facebook">f</mat-icon>
    <mat-icon class="mdi--linkedin"></mat-icon>
    <mat-icon class="pajamas--twitter"></mat-icon>
    <mat-icon class="mingcute--github-fill"></mat-icon>
</div>
</div>
